{% extends 'base.html.twig' %}

{% block title %}Vétérinaires{% endblock %}

{% block body %}
    <h1>Liste des vétérinaires</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>CP</th>
                <th>Ville</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for veterinary in veterinaries %}
            <tr>
                <td>{{ veterinary.id }}</td>
                <td>{{ veterinary.name }}</td>
                <td>{{ veterinary.address }}</td>
                <td>{{ veterinary.postalCode }}</td>
                <td>{{ veterinary.city }}</td>
                <td>
                    <a href="{{ path('app_veterinary_show', {'id': veterinary.id}) }}">voir</a>
                    <a href="{{ path('app_veterinary_edit', {'id': veterinary.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_veterinary_new') }}" class='btn btn-primary'><i class="bi bi-plus"></i> Nouveau</a>
{% endblock %}
