{% extends 'base.html.twig' %}

{% block title %}Veterinary{% endblock %}

{% block body %}
    <h1>Fiche détail vétérinaire n°{{veterinary.id}}</h1>

    <div class=" my-3" id='fiche'>
		<div class="card">
			<img src="{{ asset('images/vetos/'~ veterinary.imageFileName ) }}" class="card-img-top" alt="{{ veterinary.name }}">
			<div class="card-body">
				<h5 class="card-title">{{ veterinary.name }}</h5>
				<p class="card-text">{{ veterinary.address }}
					<br>
					{{ veterinary.postalCode }}
					{{ veterinary.city }}
				</p>
				<p class="card-text">Téléphone :
					{{ veterinary.phonep }}</p>
                <p class="card-text">
                    <small class="text-body-secondary">
                    Créé le {{ veterinary.creationDate ? veterinary.creationDate|date('d/m/Y') : '' }}
                    </small>
                </p>
			</div>
            

		</div>
		
	</div>

    <a href="{{ path('app_veterinary_index') }}"><i class="bi bi-chevron-left"></i> Retour à la liste</a>

    <a href="{{ path('app_veterinary_edit', {'id': veterinary.id}) }}"><i class="bi bi-pencil-square"></i> edit</a>

    <a href="{{ path('app_followup_showbyveterinaryid', {'id': veterinary.id}) }}"><i class="bi bi-binoculars"></i> Voir les suivis</a>

    {{ include('veterinary/_delete_form.html.twig') }}
{% endblock %}
