{% extends 'base.html.twig' %}

{% block title %}objectifs{% endblock %}

{% block body %}
    <h1>Liste des objectifs fixés aux vétérinaires</h1>
    <a href="{{ path('app_goal_new') }}" class='btn btn-primary'><i class="bi bi-plus"></i> Nouveau</a>
    {{ form_start(form) }}
	<div class="row my-5 align-items-center">
		<div class="col-8">
			{{ form_widget(form.veterinary) }}
		</div>
		<div class="col-2">
			<button type="submit" class="btn btn-primary">ok</button>
		</div>
	</div>
	{{ form_end(form) }}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Vétérinaires</th>
                <th>Produit</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for goal in goals %}
            <tr>
                <td>{{ goal.id }}</td>
                <td>{{ goal.veterinary.name }}</td>
                <td>{{ goal.product.name }}</td>
                <td>{{ goal.amount }}</td>
                <td>
                    <a href="{{ path('app_goal_show', {'id': goal.id}) }}">voir</a>
                    <a href="{{ path('app_goal_edit', {'id': goal.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
